.icon= link_to_user_avatar(profile_card)
.user= link_to_user(profile_card) + " (#{profile_card.username})"
.user-stats
  %dl.total-follows
    %dt.sum= 10
    %dd.desc= '关注'
  %dl.total-topics
    %dt.sum= 20
    %dd.desc= '主题'
  %dl.total-collect
    %dt.sum= 30
    %dd.desc= '收藏'
