- content_for :page_title do
  = @user.name

.widget-box.user-profile
  .avatar
    = user_avatar @user
  %h1.name
    = "#{@user.name}(#{@user.username})"
  .date
    = @user.created_at.strftime("%Y-%m-%d")
    = '加入'
  .intro
    = @user.intro
  .contact

  .action
    - unless current_user.id == @user.id
      - if current_user.is_follow? @user
        = link_to '取消关注', user_path(@user, :act => 'unfollow')
      - else
        = link_to '加入关注', user_path(@user, :act => 'follow')

