- content_for :page_title do
  = '修改广场资料'
- add_breadcrumb '修改广场资料', request.path

= widget_box :profile, '广场简介' do
  = form_for @forum do |form|
    .field
      = form.label :name
      = form.text_field :name, :class => 'text name'
      %span.tips= t '.name_tips'
    .field
      = form.label :alias
      = form.text_field :alias, :class => 'text alias'
      %span.tips= t '.alias_tips'
    .field
      = form.label :intro
      = form.text_area :intro, :class => 'text intro'
      %span.tips= t '.intro_tips'

