.widget-box
  = form_for @user, :url => create_account_path do |form|
    - if !@user.errors.blank?
      .error
        - form.object.errors.full_messages.each do |message|
          .item= message
      //= render :partial => 'share/error_messages', :locals => {:object => form.object}
      //= :error
    .field
      = form.label :username
      %br/
      = form.text_field :username, :class => 'text username'
      .tips= t '.username_tips'
    .field
      = form.label :password
      %br/
      = form.password_field :password, :class => 'text password'
      .tips= t '.password_tips'
    .field
      = form.label :password_confirmation
      %br/
      = form.password_field :password_confirmation, :class => 'text password_confirmation'
    .field
      = form.label :email
      %br/
      = form.text_field :email, :class => 'text email'
      .tips= t '.email_tips'
    .field
      = form.label :name
      %br/
      = form.text_field :name, :class => 'text name'
      .tips= t '.name_tips'
    .field
      = form.submit t('.signup'), :class => 'button'

.message
  .tips
    %p
      = t '.already_have_account'
      = link_to t('.login'), new_session_path
    %p
      = t '.forgot_password'
      //= link_to t('.reset_password'), new_reset_password_path
