.topics-list
  - list.each do |topic|
    .item
      .icon
        = link_to_user_avatar topic.author
        = link_to_user topic.author
      %h3.title= link_to topic.title, topic_path(topic, :anchor => "last#{topic.replies.count}"), {:class => topic.type}
      %a.reply-count{:href => topic_path(topic, :anchor => "last#{topic.replies.count}")}
        %span= topic.replies.count
        - case topic.type
        - when 'topic'
          = '讨论'
        - when 'question'
          = '回答'
        - when 'share'
          = '鼓励'
      .meta
        /= "#{topic.hits}次点击"
        /= "#{topic.content.size}个字符"
        = render :partial => 'tags/tags/list', :object => topic.tag
        %span.reply-date
          - unless topic.replies.count == 0
            = readability_time_format topic.replied_at
            = "由"
            = link_to_user topic.replies.last.author
            = "回复"

