= if !form.object.errors.blank?
  = render :partial => 'shared/error_messages', :locals => {:target => form.object}

.field
  .label= form.label :title
  = form.text_field :title, :maxlength => 50
.field
  .label= form.label :content
  = render :partial => 'shared/editor', :object => form, :locals => {:field => :content}
.field
  .label= form.label :tags
  = form.text_field :tag, :class => 'text tags'
  .tips= t '.tags_tips'


= content_for :aside do
  .widget= 'd'
