.main-column.widget.topic-content
  .widget-title= 'New Topic'
  .widget-content
    - if !form.object.errors.blank?
      = render :partial => 'shared/error_messages', :locals => {:target => form.object}
      /.field
      /  - Topic::TYPE.each do |value|
      /    = form.radio_button :type, value
      /    = form.label "type_#{value}", t(".#{value}")

    .block.field-title.type-text{:class => 'can-accordion'}
      .label= form.label :title
      .field= form.text_field :title, :maxlength => 50
    .block.field-content.type-textarea{:class => 'can-accordion'}
      .label= form.label :content
      .field= render :partial => 'shared/editor', :object => form, :locals => {:field => :content}

    .media-box
      - 5.times do |index|
        /.block.can-move.can-close
        .d
          /.field{:style => 'height:50px;'}= index + 1
          /%a.move-button{:title => '拖动调整照片顺序'}= '移动'
          /%a.close-button{:title => '移除这个元素'}= '删除'

.side-column
  .widget.form-utility
    .field= form.submit t('words.create'), :class => 'button submit', :id => 'form-submit'

  .widget.form-add-media
    .widget-content
      = link_to t('.add_image'), 'javascript:void(0)', :id => 'add-image-button'
      /=
      %br
      = link_to t('.add_video'), 'javascript:void(0)', :id => 'add-video-button'
      %br
      = link_to t('.add_music'), 'javascript:void(0)', :id => 'add-music-button'

  .widget
    .widget-content
      .label= form.label :tags
      .field= form.text_field :tag, :class => 'text tags'
      .meta= t '.tags_tips'



.hidden
  #add-image-dialog{:title => t('.add_image')}
    %ul
      %li= link_to t('.from_file'), '#add-image-from-file'
      %li= link_to t('.from_url'), '#add-image-from-url'
    #add-image-from-file
      = 'asfsd'
    #add-image-from-url
      = 'asf'

  #add-video-dialog{:title => t('.add_video')}
  #add-music-dialog{:title => t('.add_music')}


:javascript
  jQuery(function($){
    Manyou.topics.edit('.container');
  });

