- user = user_profile
.widget.user-profile
  .widget-content
    .avatar= link_to_user_avatar(user, {:size => :large})
    .name= link_to_user(user) + "(#{user.username})"
    .utility= link_to 'd', 'd'
    .intro= user.intro

