- content_for :title do
  = @topic.title

.widget.topic{:class => " #{@topic.title.blank? ? 'untitled' : ''}"}
  .head
    %h1.entry-title= @topic.title.blank? ? @topic.content : @topic.title
    .entry-meta
      %span.author= link_to_user(@topic.author)
      %span.entry-date{:title => l(@topic.created_at)}= t 'time.created_at', :time => readability_time_format(@topic.created_at)
      %span.hits= t 'hits', :hits => @topic.hits
      .bookmarks
        %span.sum= @topic.bookmarks
        = t '.bookmark'
  - if !@topic.title.blank?
    .entry-content
      = rich_content(@topic.content)
  .entry-tags
    %span= t('.tags') + ':'
    = render :partial => 'forum/nodes/list', :object => @topic.tag
  .entry-utility
    - if current_user.bookmarks.where(:_id => @topic.id).first != nil
      = link_to t('.unbookmark'), destroy_bookmark_path(topic_path(@topic))
    - else
      = link_to t('.bookmark'), create_bookmark_path(topic_path(@topic))

    - if @topic.track_user_ids.include? current_user.id
      = link_to t('.untrack'), untrack_topic_path(@topic)
    - else
      = link_to t('.track'), track_topic_path(@topic)

    = link_to t('words.edit'), edit_topic_path(@topic) if can? :update, @topic
    = link_to t('words.delete'), topic_path(@topic), :method => :delete, :confirm => '您真的要删除这个主题吗?' if can? :destroy, @topic

- if @replies.blank?
  .widget.replies-blank
- else
  .widget.replies{:class => ''}
    .replies-options= ''
    = will_paginate @replies
    = render :partial => 'forum/replies/list', :object => @replies
    = will_paginate @replies

.widget.reply-form
  .widget-title= 'leave your reply'
  .widget-content
    - if signed_in?
      = form_for @topic.replies.new, :url => topic_replies_path(@topic) do |form|
        = render :partial => 'forum/replies/form', :object => form
        .field= form.submit t('words.submit'), :class => 'button'
    - else
      = link_to 'sign in', new_session_path





- content_for :aside do
  = render :partial => 'user_profile', :object => @topic.author

