.widget.main-list
  %h2.widget-title= t '.hot_topics'
  .topics-utility
    = link_to t('.new_topic'), new_topic_path
  = render :partial => "forum/topics/list_#{@page_info[:list_mode]}", :object => @topics

- content_for :aside do
  /.widget.node-info= ''
  .widget.nodes-could
    %h2.widget-title= t '.hot_nodes'
    .widget-container
      = render :partial => 'forum/nodes/list', :object => @nodes_could, :locals => {:display => 20}

