- list.each_with_index do |reply, index|
  .reply{:class => (index%2 == 0 ? 'even' : 'odd')}
    .reply-author
      = link_to_user_avatar(reply.author)
      = link_to_user reply.author
    .reply-meta
      %span.date= t 'time.replied_at', :time => readability_time_format(reply.created_at)
      /= "(#{reply.up})"
      /=link_to '支持', vote_topic_reply_path(reply.topic, reply), {:class => 'up'}
      =link_to '@回复', 'javascript:void(0)', {:class => 'reply'}
      =link_to "##{reply.floor}", "#{topic_path(reply.topic)}#reply#{reply.floor}", {:name => "reply#{reply.floor}", :class => 'floor'}
    .reply-content= rich_content(reply.content)
    .reply-actions= ''
