= yield :footer_before
#footer.clearfix
  .wrapper
    = yield :footer_prepend

    #bottom-menu
      %ul
    #copyright
      @ Copyright
      = link_to AppConfig['app_name'], root_path
      = "2011 - #{Time.now.year}"
      |
      Power by
      = link_to 'manyou', 'https://github.com/lolychee/manyou', :target => '_blank'

    = yield :footer_append

= yield :footer_after

