!!! 5
%html
  %head
    %meta{ "charset" => "utf-8" }
    %title= yield :title
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'layout'
    = stylesheet_link_tag 'module'
    = stylesheet_link_tag 'jquery-ui'
    = javascript_include_tag :defaults
    /= javascript_include_tag "http://www.google.com/jsapi"
    = yield :head
    = csrf_meta_tag

  %body{ :class => page_class }
    /#header
    = render :partial => 'layouts/header'

    #content
      .wrapper
        = yield :content_prepend

        #page-tools

        #breadcrumbs= render_breadcrumbs

        .container.clearfix{:class => "#{content_for?(:aside)? 'column2' : 'column1'}"}
          .article.clearfix= yield

          - if content_for?(:aside)
            .aside.clearfix= yield :aside

        = yield :content_append


    /#footer
    = render :partial => 'layouts/footer'

    = yield :page_bottom

